<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>
    <!--可以定制化输出日志到某个目录下-->
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>